@font-face
{
    font-family: "Open Sans";
    src: url(Fonts/Open_Sans/OpenSans-Light.ttf);
}
body
{
    margin: 0;
    padding: 0;
    font-family:  "Open Sans",Helvetica, sans-serif;
    width:100%;
    height:100%;
}
header
{   
    position: relative;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: rgb(175, 40, 130);
    box-shadow: grey 10px 0 40px;
}
nav
{   
    width:70%;
    margin: 0 auto 0 auto;
    padding: 10px;
}
section
{
    padding-bottom: 100px;
}
.menu
{  
    padding:10px;
}
nav a:hover
{
    background-color: rgb(169 15 41);
    color: white;
}
nav ul
{   
    display: flex;
    list-style-type: none;
    margin: 0;
}
nav a
{   
    padding: 10px;
    margin: 0;
    text-decoration: none;
    display: block;
}
a:visited
{
    
    color: rgb(43, 43, 43);
}
.push-flex
{
    margin-left: auto;
}
.logo
{   
    font-size: xx-large;
}
.logo a:hover
{
    background-color: transparent;
    color: rgb(43, 43, 43);
}
footer
{   
    color: white;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(169, 15, 41);
    text-align: center;
}
footer li
{   
    display: inline-block;
    padding: 10px;
}
