/*----------RESPONSIVE------------------CSS---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------*/
@media only screen and (max-width: 1540px) /*Mniejsze od 1541*/
{
    .index_triple-img > figure > img
    {
        width:300px;
    }
    .index_triple-img > figure
    {   
        width: 300px;
    }
    .index_under-top-container
    {
        width:85%;
    }
}
@media only screen and (max-width: 1366px) /*Mniejsze od 1367*/
{   
    section 
    {
        margin-bottom: 80px;
    }
    nav
    {
        width:90%;
    }
    footer
    {
        margin-top: 150px;
    }
    
    .goc_containers
    {
        width:85%;
        margin-top: 80px;
    }
    .index_triple-img > figure > img
    {
        width:250px;
    }
    .index_triple-img > figure
    {   
        width: 250px;
    }
    .index_first-section > figure >img
    {
        width: 350px;
    }
    .index_social-icon
    {
        width:80px
    }
}
@media only screen and (max-width: 1023px) /*Mniejsze od 1024*/
{   
    section 
    {
        margin-bottom: 60px;
    }
    nav
    {
        width: 98%;
        padding:2px;
    }
    .menu
    {  
        font-size: 1rem;
    }
    .logo
    {   
        font-size: 1.6rem;
    }
    :-webkit-any(article,aside,nav,section,div) h1 {
        font-size: 2rem;
    }
    :-webkit-any(article,aside,nav,section,div) h2 {
        font-size: 1.2rem;
    }
    :-webkit-any(article,aside,nav,section,div) p {
        font-size: 0.9rem;
    }
    .goc_containers
    {
        width:90%;
        margin-top: 80px;
    }
    .contact_icon
    {
        width: 80px;
        padding-bottom: 15px;
    }
    .contact_map
    {   
        height:350px;
    }
    footer
    {
        margin-top: 100px;
    }
    .gallery_container-headline h1
    {
        font-size: 1.6rem;
    }
    .gallery_column
    {
        flex: 50%;
        max-width: 50%;
        padding: 0 6px;
    }
    .offer_float-left
    {
        float: none;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .offer_float-right
    {
        float: none;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
    .offer_img
    {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .offer_red-color
    {
        text-align: center;
    }
    .index_first-section > figure >img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .index_first-section > figure
    {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
    .index_under-top-container
    {
        width: 90%;
    }
    .index_first-section
    {   
        display: inline-block; 
        margin-left: auto;
        margin-right: auto;
    }
    .index_first-section h2
    {
        text-align: center;
        margin-top: 40px;
    }
    .index_first-section article
    {
        padding:0;
    }
    .index_triple-img > figure > img
    {
        width:170px;
    }
    .index_triple-img > figure
    {   
        width: 170px;
    }
    .index_first-section > figure >img
    {
        width: 300px;
    }
    .index_social-icon
    {
        width:50px
    }
}
@media only screen and (max-width: 699px) /*Mniejsze od 700*/
{   
    .contact_icon
    {
        width: 60px;
    }
    .contact_icon-text p
    {
        font-size: 0.8rem;
    }
    .contact_icon-text h2
    {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 649px) /*Mniejsze od 650*/
{   
    .goc_containers
    {
        width:95%;
        margin-top: 60px;
    }
    nav ul
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .logo
    {
        flex:100%;
        text-align: center;
    }
    .push-flex
    {
        margin-left:0;
    }
    .index_top img
    {
        height: 300px;
        object-fit: cover;
    }
    .index_top-text
    {   
        position: absolute;
        text-align: center;
        width: 100%;
        top: 25%;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .index_under-top-container
    {
        width: 95%;
    }
    .index_first-section
    {
        width: 100%;
    }
    .index_first-section > figure
    {
        width: 100%;
    }
    .index_first-section > figure >img
    {
        width: 300px;
    }
    .index_triple-img
    {
        flex-wrap: wrap;   
    }
    .index_triple-img > figure
    {   
        width: 280px;
    }
    .index_triple-img > figure > img
    {   
        width: 250px;
    }
    .contact_icons-row
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .contact_icons-column
    {
        width: 40%;
        max-width: 40%;
    }
    .contact_map
    {   
        height:250px;
    }
    .offer_float-left
    {
        width: 400px;
    }
    .offer_float-right
    {
        width: 400px;
    }
    .offer_img
    {
        width: 350px;
    }
    .offer_first-section h1 
    {
        font-size: 1.6rem;
    }
    .gallery_container-headline h1
    {
        font-size: 1.2rem;
    }
    .gallery_column
    {
        padding: 0 3px;
    }
    .gallery_column img
    {
        margin-top: 5px;
    }
    .gallery_container
    {
        padding: 6px;
    }

}
@media only screen and (max-width: 439px) /* Mniejsze od 440*/
{   
    :-webkit-any(article,aside,nav,section,div) h1 
    {
        font-size: 1.4rem;
    }
    :-webkit-any(article,aside,nav,section,div) h2 {
        font-size: 1rem;
    }
    .gallery_column
    {
        flex: 100%;
        max-width: 100%;
    }
    .gallery_column img
    {
        margin-top: 10px;
    }
    .contact_icon
    {
        width: 50px;
    }
    .contact_icon-text p
    {
        font-size: 0.7rem;
    }
    .contact_icon-text h2
    {
        font-size: 0.9rem;
    }
    .contact_map
    {   
        height:350px;
    }
    .offer_float-left
    {
        width: 280px;
    }
    .offer_float-right
    {
        width: 280px;
    }
    .offer_img
    {
        width: 250px;
    }
    .index_top img
    {
        height: 200px;
    }
    .index_first-section > figure >img
    {
        width: 250px;
    }
    .index_triple-img > figure > img
    {
        width:200px;
    }
    .index_triple-img > figure
    {   
        width: 200px;
    }
}